<footer class="footer-container">
  <div class="footer-container">
      <div class="footer-container">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <ul class="ul-inline text-center">
          {% if site.author.github and site.footer-links-active.github %}
          <li class="list-inline">
            <a  target="_blank" href="https://github.com/{{ site.author.github }}">
	      <span class="fa-stack fa-lg">
        	<i class="fa fa-circle fa-stack-2x"></i>
        	<i class="fa fa-github fa-stack-1x fa-inverse"></i>
      	      </span>
	    </a>
          </li>
          {% endif %}
          {% if site.author.email and site.footer-links-active.email %}
          <li class=list-inline>
            <a target="_blank" href="mailto:{{ site.author.email }}" title="Email me">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.author.linkedin and site.footer-links-active.linkedin %}
          <li class=list-inline">
            <a target="_blank" href="https://linkedin.com/in/{{ site.author.linkedin }}" title="LinkedIn">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>        
  </div>
</footer>

