---
---

@import "no-style-please";

a {
  text-decoration: none;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: green;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: max(20px, 4vw);
  
}

.cv_subtitle { color: grey;}


.footer-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-container > div {
  width: 90vw;
  text-align: center;;
  margin: 10px;
  padding: 10px;
}

.ul-inline {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  color: black;
  padding: 0;
}

.list-inline {
  justify-content: center;
  display: inline;
  overflow: hidden;
}

.text-center {
  text-align: center;
}


